APP_PORT=80
PMA_PORT=8181
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
FRONTEND_URL=http://localhost
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:3000

DB_ROOT_PASSWORD=rootpassword
DB_DATABASE=cardeneta
DB_USERNAME=cardeneta
DB_PASSWORD=secret

NEXT_PUBLIC_API_URL=http://localhost/api
